@media screen and (max-width : 1024px){
    .content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .content img{
        padding: 0;
    }
    .icons{
        text-align: center;
        justify-content: center;
    }
    header{
        margin: 0;
        margin-top: 20px;
    }
}
@media screen and (max-width : 768px){
    .navlist ul li{
        padding-left: 15px;
        
    }
    .navlist a{
        font-size: 14px;
    }
    header {
        margin:0;
        margin-top: 20px;
    }
    .guest{
        flex-direction: column;
    }
    .guest p{
       width: 100%;
    }
}