
*{
    margin: 0;
    padding: 0;

}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    position: relative;
    width: 80%;
    min-height: 600px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid #fff;

}
header{
    display:flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    margin: 30px;
}
header img{
    width: 50px;
}
.navlist ul,li{
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    font-weight: 600;
}
.navlist a{
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
}
.navlist a:hover{
    color: rgb(143, 143, 143);
    transition: 0.5s;
}
.content {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.content .title h1{
    font-size: 70px;
    color: rgb(97, 97, 97);
}
.content .title p{
    font-style: italic;
    color: rgba(97, 97, 97, 0.74);
}
.buttons{
    margin-top: 30px;
    margin-bottom: 40px;
}
.buttons a{
    padding: 10px 30px;
    background-color: #00a7a1;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
}
.buttons a:hover{
    box-shadow: rgba(100, 100, 111, 0.438) 0px 7px 29px 0px;
    transition: all 0.5s;
}
.logo-title img{
    width: 300px;
    padding-right: 100px;
}
.icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.icons i{
    padding: 10px;
    background-color: #f9856e;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.icons a{
    color: rgba(97, 97, 97, 0.74);
    text-decoration: underline;
}
.contact{
    right: -18px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.contact a{
 margin-bottom: 100px;
 color: #fff;
}
.contact i{
    padding: 10px;
    background-color: #f9856e;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact i:hover{
    box-shadow: rgba(100, 100, 111, 0.438) 0px 7px 29px 0px;
    transition: 0.5s;
}
.copyright p{
    text-align: center;
    color: rgba(143, 143, 143, 0.445);
    padding-bottom: 20px;
}
.copyright a{
    color: rgba(143, 143, 143, 0.445);
    text-decoration: underline;
}
.guest img{
    width: 280px;
}
.guest{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
}
.speaker h1{
    text-align: center;
    font-size: 40px;
    color: rgb(82, 82, 82);
}
.guest h1{
    text-align: center;
    margin-bottom: 20px;
}
.guest p{
    width: 300px;
    text-align: center;
}
